
<div class="container pt-2">
    <div class="row justify-content-sm-center pt-5">
      <div class="col-sm-6 shadow round pb-3">
        <h1 class="text-center pt-3 text-secondary">Borrar Empleado</h1>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <label class="col-form-label">Id de Empleado a Borrar</label>
            <input formControlName="id" type="number" class="form-control">
            <button type="submit" class="btn btn-primary" [disabled]="this.form.invalid">Borrar</button>
        </form>
        <br>
        <a routerLink= "/" routerLinkActive = "active" class="btn btn-secondary btn-xs">Volver</a>
      </div>
    </div>
  </div>
