form {
    background-color: royalblue;
    color:navajowhite;
    font-family: verdana;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align:center;
    border-radius: 25px;
}

#titles {
    font-family: Arial;
    color:azure;
    margin: auto;
    width: 50%;
    background-color:darkslategrey;
    text-align: center;
}

#tittleDiv {
    background-color: darkslategrey;
}

#adv{
    color:darkblue;
}

#buttons{
    background-color:darkslategrey;
}
#divForm {
    background-color: darkslategrey;
}

#myId {
    background-color: dimgrey;
    color: aliceblue;
    font-family: verdana;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: darkslategrey;
}

button {
    text-align: center;
    margin-left: auto;
    padding: 10px;
    margin-right: auto;
}
html {
    text-align: center;
    background-color: darkslategrey;
}