@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <img src="~/mateoIconoTransparente.png" alt="Italian Trulli" width="200" height="200"> <h1>Mateo Rojas - Lab 2021</h1>
    <p class="lead">Trabajo Práctico de Entity Framework con MVC</p>
    <p><a href="https://github.com/MateeRojas/LabNet2021" class="btn btn-primary btn-lg">Todos los trabajos &raquo;</a></p>
</div>

<div>

    <p>
        En el presente trabajo, se expande el trabajo ya realizado de MVC para añadirle un proyecto de Conexion a una web api pública.
        En este, se agregan los respectivos controladores, vistas y lógicas para su correcto funcionamiento.
        Se eligió la api de dolarsi.com. Se la muestra de una manera muy primitiva pero creo que cumple su cometido.
    </p>

</div>