@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <img src="~/mateoIconoTransparente.png" alt="Italian Trulli" width="200" height="200"> <h1>Mateo Rojas - Lab 2021</h1>
    <p class="lead">Trabajo Práctico de Entity Framework con MVC</p>
    <p><a href="https://github.com/MateeRojas/LabNet2021" class="btn btn-primary btn-lg">Todos los trabajos &raquo;</a></p>
</div>

<div>

    <p>
        En el presente trabajo, se expande el trabajo ya realizado de Entity Framework para añadirle un proyecto de MVC.
        Se han elegido las anteriormente usadas entidades de "Empleados" y "Productos", de las cuales se eligieron para mostrar sus
        propiedades Id, Apellido, Nombre, Ciudad, País y Id, Nombre y Precio Unitario respectivamente, para implementar, , esta vez desde una pagina web, el mostrar, insertar,
        borrar y actualizar. Tambien se cuenta con mensajes de validación y manejo de excepciones las cuales están todas controladas y derivan a vistas de error.
    </p>

</div>