<div class="jumbotron">
    <h1>Mateo Rojas Lab 2021</h1>
    <img src="~/mateoIconoTransparente.png" alt="Italian Trulli" width="200" height="200">
    <p class="lead">Trabajo Práctico de Entity Framework con Web Api</p>
    <p><a href="https://github.com/MateeRojas/LabNet2021" class="btn btn-primary btn-lg">Todos los trabajos &raquo;</a></p>
</div>

<div>

    <p>
        En el presente trabajo, se crea desde 0 una web api, que se conecta a nuestra propia base de datos. Se ha elegido la entidad employees como muestra.
        No se tuvieron en cuenta los xml. Esta aplicacion esá hecha para ser accedida desde un programa como Postman y verificar su funcionamiento.
    </p>

</div>
